<% if @arcade %>
    <%= render 'arcades/arcade' %>
<% end %>
<br>
<div class="container">
    <% @games.each do |game| %>
        <div class="card text-white bg-secondary mb-3 float-left inline" style="max-width: 18rem; height: 400px; width: 700px; margin: 30px;">
            <%= render 'games' %>
            <% if authorized? %>
                <%= link_to 'edit game', edit_game_path(game) %>
            <% end %>
        </div>
    <% end %>
</div>
