<h1 class="page-headers">ARCADES</h1>
<div class="container">
    <% @arcades.each do |arcade| %>
        <div class="card text-white bg-secondary mb-4 float-left inline" style="max-width: 21rem; width: 1000px; margin: 5px;">
                <button class="btn btn-primary arcade-id-<%= arcade.id %>" id="arcade-name-<%= arcade.id %>" type="submit"><%= arcade.name %></button>
        </div>
    <% end %>
</div>
<div class="container" style="margin-top: 300px">
    <div id="arcade-show">
    </div>
</div>
<div class="container" style="margin-top: 100px">
        <div id="games-show">
        </div>
    </div>
</div>

