{{#games}}
    <div class="card text-white bg-secondary mb-3 float-left inline" style="max-width: 18rem; height: 400px; width: 700px; margin: 30px;">
        <div class="card-header">
            <h4>{{name}}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Max Players: {{numPlayers}}</p>
            <p class="card-text">Costs: {{cost}} cents</p>
            <p class="card-text">In Order: {{working}}</p>
        </div>
    </div>
{{/games}}
